services:
  whitelist-worker:
    build: ../backend/whitelist-worker
    container_name: whitelist-worker
    env_file: .env
    volumes:
      - ./worker-data:/data
    ports:
      - "8001:8001"

  whitelist-api:
    build: ../backend/whitelist-api
    container_name: whitelist-api
    env_file: .env
    depends_on:
      - whitelist-worker
    ports:
      - "8000:8000"
