services:
  control-worker:
    build: ../../backend/control-worker
    container_name: control-worker
    env_file: .env
    volumes:
      - ./worker-data:/data
    ports:
      - "8001:8001"

  control-api:
    build: ../../backend/control-api
    container_name: control-api
    env_file: .env
    depends_on:
      - control-worker
    ports:
      - "8000:8000"
